body {
    color: $half-black;
    background: $aqua-very-light;
}
input {
    color: $half-black;
    padding: 5px;
    border: none;
}
.pad-zero {
    padding: 0;
}
.f-2 {
    font-size: 2em;
}
.text-center {
    text-align: center;
}
.pad-15 {
    padding: 15px;
}
.m-15 {
    margin: 15px;
}
.m-b-5 {
    margin-bottom: 5px;
}
.countries-container {
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.8);
}
.currency-container {
    background: rgba(255, 255, 255, 0.8);
}
.m-t-30 {
    margin-top: 30px;
}
.container {
    background: $aqua-very-light;
}
.shipping {
    background: rgba(255, 255, 255, 0.8);
}
.gray-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    -webkit-filter: blur(2px);
}
